version: '3.9'

services:
  nginx:
    image: nginx:1.27-alpine
    container_name: cyberrange_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app_net

  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: cyberrange_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
      - redis
    networks:
      - app_net
      - labs

  horizon:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: cyberrange_horizon
    working_dir: /var/www/html
    command: php artisan horizon
    volumes:
      - ./:/var/www/html
    depends_on:
      - app
      - redis
    networks:
      - app_net

  mysql:
    image: mysql:8.4
    container_name: cyberrange_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cyberrange
      MYSQL_USER: cyberrange
      MYSQL_PASSWORD: cyberrange
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_net

  redis:
    image: redis:7.4-alpine
    container_name: cyberrange_redis
    ports:
      - "6379:6379"
    networks:
      - app_net

volumes:
  mysql_data:

networks:
  app_net:
    driver: bridge
  labs:
    driver: bridge
